if SHIELD_DEMO_DACTYL_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Demo_Dactyl"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DEMO_DACTYL_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Demo_Dactyl R"

config ZMK_SPLIT
    default y

endif